body{
    background-color: rgb(221,160,221) ;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(90, 24, 154);
    align-items: center;
    height: 6490px;
    margin: 100px;
    padding: 20px;
    border-radius: 200px;
}
.headbox{
    /* border: 7px solid aqua; */
    padding: 80px 0px 0px 0px;
     margin: 0px 70px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
} 
h1{
    color: white;
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
}
.first{
    text-align: center;
    /* border: 10px solid aqua; */
}
.chefimg{
    height: 300px;
    /* border: 10px solid aqua; */
    
}
.three{
    text-align: center;
    /* border: 10px solid aqua; */
}
h4{
    color:white;
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}
a{
    color: black;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-decoration: none;
    text-align: center;
}
nav{
    background-color: rgb(221,160,221);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 30px 0px;
}
.food{
    height: 1400px;
    border: 7px solid black;
    margin: 0px 70px;
    background-image: url("img\ food\ cafe/.food");
}
.search1{
    background-color: rgb(221,160,221);
    padding: 50px 0px;
    margin: 0px 70px;
    border-radius: 200px;
}
.search{
    background-color: rgb(90, 24, 154);
    padding: px 0px;
    margin: 0px 70px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    /* border: 10px solid aqua; */
}
input{
    height: 100px;
    width: 3000px;
    font-size: 100px;
}
.fa-magnifying-glass{
    font-size: 100px;
    color: white;
    padding:50px;
    /* border: 10px solid aqua; */
}
select{
    margin: 0px 100px;
    padding: 0px 40px;
    height: 100px;
    width: 3170px;
    text-align: center;
    font-size: 100px;
}
h5{
    color: white;
    padding:50px;
    font-family: "Acme", sans-serif;
    font-weight: 70;
    font-style: normal;
    font-size: 80px;
    text-decoration: none;
    text-align: left;
    /* border: 10px solid aqua; */
}
.foodbox{
    background-color: rgb(221,160,221);
    height: 2000px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 100px 100px;

}
/* @keyframes highlight{
    from {
        height: 800px;
        width: 805px;
    }
    to{
        height: 1000px;
        width: 1005px;
    } */
/* } */
.box{
    background-color: rgb(221,160,221);
    height: 800px;
    width: 805px;
    border: 7px solid black;
    margin: 80px 10px;
}
.feedback{
    background-color: rgb(221,160,221);
    height: 100px;
    padding: 30px 0px;
    color: black;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-decoration: none;
    z-index: 2;
    text-align: center;
}
.tittle{
    text-align: center;
}
.chefbox{
    display:grid;
    background-color: rgb(221,160,221);
    border: 10px solid white;
    height: 1000px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
}